name: Swift

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: macos-latest

    steps:
      - name: Install Swift
        uses: swift-actions/setup-swift@v2
        with:
          swift-version: "6.0"
          
      - name: Get Sources
        uses: actions/checkout@v4

      - name: Cache
        uses: actions/cache@v4
        with:
          path: .build
          key: ${{ runner.os }}-swift-${{ hashFiles('**/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-swift-

      - name: Build Package
        run: swift build -v
        
      - name: Run Tests
        run: swift test --enable-code-coverage
            
  
